<h1 id="title" class="title">{{ 'register.title' | translate }}</h1>

<nb-alert *ngIf="messages.length > 0 && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="errors.length > 0 && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="register()" aria-labelledby="title" [formGroup]="formRegister">
  <div class="form-control-group">
    <label class="label" for="input-fullName">{{ 'register.fullName' | translate }}</label>
    <input id="input-fullName" autofocus fullWidth nbInput fieldSize="large" formControlName="fullName"
           [status]="this.formRegister.get('fullName').dirty ? (this.formRegister.get('fullName').invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="this.formRegister.get('fullName').invalid && this.formRegister.get('fullName').touched ? true : null"/>
    <ngx-inline-message [message]="'register.fullName' | translate"
                        [formName]="formRegister.get('fullName')"></ngx-inline-message>
  </div>
  <div class="form-control-group">
    <label class="label" for="input-userName">{{ 'register.userName' | translate }}</label>
    <input id="input-userName" fullWidth nbInput fieldSize="large" formControlName="userName"
           [status]="this.formRegister.get('userName').dirty ? (this.formRegister.get('userName').invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="this.formRegister.get('userName').invalid && this.formRegister.get('userName').touched ? true : null"/>
    <ngx-inline-message [message]="'register.userName' | translate"
                        [formName]="formRegister.get('userName')"></ngx-inline-message>
  </div>
  <div class="form-control-group">
    <label class="label" for="input-email">{{ 'register.email' | translate }}</label>
    <input id="input-email" fullWidth nbInput fieldSize="large" formControlName="email"
           [status]="this.formRegister.get('email').dirty ? (this.formRegister.get('email').invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="this.formRegister.get('email').invalid && this.formRegister.get('email').touched ? true : null"/>
    <ngx-inline-message [message]="'register.email' | translate"
                        [formName]="formRegister.get('email')"></ngx-inline-message>
  </div>
  <div class="form-control-group">
    <label class="label" for="input-password_hash">{{ 'register.password_hash' | translate }}</label>
    <input id="input-password_hash" type="password" fullWidth nbInput fieldSize="large" formControlName="passwordHash"
           [status]="this.formRegister.get('passwordHash').dirty ? (this.formRegister.get('passwordHash').invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="this.formRegister.get('passwordHash').invalid && this.formRegister.get('passwordHash').touched ? true : null"/>
    <ngx-inline-message [message]="'register.password_hash' | translate"
                        [formName]="formRegister.get('passwordHash')"></ngx-inline-message>
  </div>
  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="submitted || !this.formRegister.valid"
          [class.btn-pulse]="submitted">
    {{'register.submit' | translate }}
  </button>
</form>
