<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="userField">
      <nb-card>
        <nb-card-header>
          <label>{{title | translate}}</label>
          <span>
          <button ghost size="tiny" nbButton class="objLink float-right" (click)="cancel()">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </span>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="label">{{ 'user.column.userName' | translate }}<span
                  class="text-danger ml-2">*</span></label>
                <input id="userName" nbInput autofocus fullWidth class="form-control" formControlName="userName"
                       status="{{(this.userField.get('userName').invalid
                 &&this.userField.get('userName')?.touched) ? 'danger' : null }}" trim="blur">
                <ngx-inline-message [message]="'user.column.userName'"
                                    [formName]="userField.get('userName')">
                </ngx-inline-message>
              </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class=" row col-lg-12 text-right d-block">
            <button nbButton (click)="save()" class="mr-1"
                    [disabled]="userField.invalid">{{ 'user.label.save' | translate }}</button>
            <button nbButton (click)="cancel()"
                    status="warning">{{ 'user.label.cancel' | translate }}</button>
          </div>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>
