<div class="row">
  <div class="col-lg-12">
    <nb-card [nbSpinner]="submit">
      <nb-card-body class="text-center col-lg-6 float-none m-auto">
        <h1 id="title" class="title">{{ 'change_password.title' | translate }}</h1>
        <p class="sub-title">{{ 'change_password.content' | translate }}</p>
        <form (ngSubmit)="changePass()" [formGroup]="changePassForm">
          <div class="form-control-group text-left my-3" *ngIf="!resetKey">
            <label class="label">{{ 'change_password.old_password' | translate }}</label>
            <input nbInput
                   autofocus
                   fieldSize="large"
                   formControlName="oldPassword"
                   type="password"
                   fullWidth
                   [status]="changePassForm.get('oldPassword').dirty ? changePassForm.get('oldPassword').invalid  ? 'danger' : 'success' : 'basic'"
                   [attr.aria-invalid]="changePassForm.get('oldPassword').invalid && changePassForm.get('oldPassword').touched ? true : null">
            <ngx-inline-message [formName]="changePassForm.get('oldPassword')"
                                [message]="'change_password.old_password' | translate"></ngx-inline-message>
          </div>
          <div class="form-control-group text-left my-3">
            <label class="label">{{ 'change_password.new_password' | translate }}</label>
            <input nbInput
                   fieldSize="large"
                   formControlName="passwordHash"
                   type="password"
                   fullWidth
                   [status]="changePassForm.get('passwordHash').dirty ? changePassForm.get('passwordHash').invalid  ? 'danger' : 'success' : 'basic'"
                   [attr.aria-invalid]="changePassForm.get('passwordHash').invalid && changePassForm.get('passwordHash').touched ? true : null">
            <ngx-inline-message [formName]="changePassForm.get('passwordHash')"
                                [message]="'change_password.new_password' | translate"></ngx-inline-message>
          </div>

          <div class="form-control-group text-left my-3">
            <label class="label">{{ 'change_password.re_password' | translate }}</label>
            <input nbInput
                   fieldSize="large"
                   formControlName="rePassword"
                   type="password"
                   fullWidth
                   [status]="changePassForm.get('rePassword').dirty ? changePassForm.get('rePassword').invalid  ? 'danger' : 'success' : 'basic'"
                   [attr.aria-invalid]="changePassForm.get('rePassword').invalid && changePassForm.get('rePassword').touched ? true : null">
            <ngx-inline-message [formName]="changePassForm.get('rePassword')"
                                [message]="'change_password.re_password' | translate"></ngx-inline-message>
          </div>
          <button nbButton
                  fullWidth
                  status="primary"
                  size="large"
                  class="my-3"
                  [disabled]="submit || !this.changePassForm.valid">
            {{'request_password.label.submit_resetKey' | translate }}
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
