:host ::ng-deep {
  @import "~assets/css/style";
  @import '~assets/css/slick';
  @import '~assets/css/magnific-popup';
  @import '~assets/css/jquery-ui.min';
  @import '~assets/css/bootstrap.min';
  @import '~assets/css/animate.min';
}

::ng-deep.spinner {
  display: none;
}

::ng-deep.nb-theme-default .menu-items a {
  font-size: 18px !important;
}

:host ::ng-deep {
  input,
  textarea,
  button,
  select {
    border: none;
  }

  input,
  textarea,
  select {
    width: 100%;
    background-color: #fff;
    padding: 0 25px;
    height: 70px;
    font-weight: 700;
    font-size: 15px;
    color: #616161;
  }
}
