<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body class="row">
        <div class="m-auto col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="text-center">{{ 'index.label.404.title' | translate }}</h2>
          <small class="text-center d-block mb-3">{{ 'index.label.404.content' | translate }}</small>
          <button nbButton fullWidth (click)="goToHome()" type="button" class="mb-2">
            {{ 'index.label.404.redirect_home' | translate }}
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
