<h1 class="title">{{ 'request_password.title' | translate }}</h1>
<p class="sub-title">{{ 'request_password.content' | translate }}</p>
<nb-stepper #stepper disableStepNavigation>

  <nb-step [label]="'request_password.step_email' | translate">
    <nb-alert *ngIf="errors.length > 0" outline="danger" role="alert">
      <p class="alert-title"><b>{{ 'common.label.error' | translate }}</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
      </ul>
    </nb-alert>
    <form (ngSubmit)="requestEmail()" [formGroup]="rqForm" class="step-container">
      <div class="form-control-group">
        <label class="label" for="input-email">{{ 'request_password.email' | translate }}</label>
        <input nbInput id="input-email" autofocus fullWidth fieldSize="large" formControlName="email"
               [placeholder]="'request_password.label.placeholder.email' | translate"
               [status]="rqForm.get('email').dirty ? rqForm.get('email').invalid  ? 'danger' : 'success' : 'basic'"
               [attr.aria-invalid]="rqForm.get('email').invalid && rqForm.get('email').touched ? true : null">
        <ngx-inline-message [formName]="rqForm.get('email')"
                            [message]="'request_password.label.placeholder.email' | translate"></ngx-inline-message>
      </div>
      <button nbButton
              fullWidth
              status="primary"
              size="large"
              [disabled]="submitted || !this.rqForm.valid"
              [class.btn-pulse]="submitted">
        {{'request_password.label.submit_email' | translate }}
      </button>
    </form>
  </nb-step>

  <nb-step [label]="'request_password.step_reset_key' | translate " class="step-container">
    <nb-alert *ngIf="success.length > 0" outline="success" role="alert">
      <p class="alert-title"><b>{{ 'common.label.notice' | translate }}</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let message of success" class="alert-message">{{ message }}</li>
      </ul>
    </nb-alert>
    <nb-alert *ngIf="errors.length > 0" outline="danger" role="alert">
      <p class="alert-title"><b>{{ 'common.label.error' | translate }}</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
      </ul>
    </nb-alert>
    <form (ngSubmit)="requestPassword()" [formGroup]="resetKeyForm" class="step-container">
      <div class="form-control-group">
        <label class="label" for="input-resetKey">{{ 'request_password.resetKey' | translate }}</label>
        <input nbInput id="input-resetKey" autofocus fullWidth fieldSize="large" formControlName="resetKey"
               [placeholder]="'request_password.label.placeholder.resetKey' | translate"
               [status]="resetKeyForm.get('resetKey').dirty ? resetKeyForm.get('resetKey').invalid  ? 'danger' : 'success' : 'basic'"
               [attr.aria-invalid]="resetKeyForm.get('resetKey').invalid && resetKeyForm.get('resetKey').touched ? true : null">
        <ngx-inline-message [formName]="resetKeyForm.get('resetKey')"
                            [message]="'request_password.label.placeholder.resetKey' | translate"></ngx-inline-message>
      </div>
      <button nbButton
              fullWidth
              status="primary"
              size="large"
              [disabled]="!this.resetKeyForm.valid">
        {{'request_password.label.submit_resetKey' | translate }}
      </button>
    </form>
  </nb-step>
</nb-stepper>
