<h1 class="title">{{ 'request_password.title' | translate }}</h1>
<p class="sub-title">{{ 'request_password.content' | translate }}</p>
<form (ngSubmit)="requestPassword()" [formGroup]="rqForm">
  <div class="form-control-group">
    <label class="label" for="input-email">{{ 'request_password.email' | translate }}</label>
    <input nbInput id="input-email" autofocus fullWidth fieldSize="large"
           [placeholder]="'request_password.label.placeholder.email' | translate"
           [status]="this.rqForm.get('email').invalid  ? 'danger' : 'success'">
    <ngx-inline-message [formName]="this.rqForm.get('email')"
                        [message]="'request_password.label.placeholder.email' | translate"></ngx-inline-message>
  </div>

</form>
