<div class="row" [nbSpinner]="loading">
  <div class="col-lg-12">
    <form [formGroup]="appParamField">
      <nb-card>
        <nb-card-header>
          <label>{{(appParamField.value.id ? 'app_param.label.update' : 'app_param.label.insert') | translate}}</label>
          <span>
          <button ghost size="tiny" nbButton class="objLink float-right" (click)="cancel()">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </span>
        </nb-card-header>
        <nb-card-body>
          <div class="row">

            <div class="form-group col-md-4">
              <label class="label">{{ 'app_param.column.name' | translate }}<span
                class="text-danger ml-2">*</span></label>
              <input id="name" nbInput fullWidth class="form-control" formControlName="name"
                     status="{{(this.appParamField.get('name').invalid
                 &&this.appParamField.get('name')?.touched) ? 'danger' : null }}" trim="blur" ngxUppercase ngxNullValue>
              <ngx-inline-message [message]="'app_param.column.name'"
                                  [formName]="appParamField.get('name')">
              </ngx-inline-message>
            </div>

            <div class="form-group col-md-4">
              <label class="label">{{ 'app_param.column.type' | translate }}<span class="text-danger ml-2">*</span></label>
              <input nbInput fullWidth class="form-control" formControlName="type" (focus)="autoCompleteFocus()"
                     status="{{(this.appParamField.get('type').invalid &&this.appParamField.get('type')?.touched) ? 'danger' : null }}"
                     trim="blur" ngxUppercase ngxNullValue [nbAutocomplete]="autoInsertType">

              <nb-autocomplete #autoInsertType>
                <nb-option *ngFor="let type of types" [value]="type"> {{ type }} </nb-option>
              </nb-autocomplete>

              <ngx-inline-message [message]="'app_param.column.type'"
                                  [formName]="appParamField.get('type')">
              </ngx-inline-message>
            </div>

            <div class="form-group col-md-4">
              <label class="label">{{ 'app_param.column.value' | translate }}<span class="text-danger ml-2">*</span></label>
              <input nbInput fullWidth class="form-control" formControlName="value"
                     status="{{(this.appParamField.get('value').invalid
                 &&this.appParamField.get('value')?.touched) ? 'danger' : null }}" trim="blur" ngxNullValue>
              <ngx-inline-message [message]="'app_param.column.value'"
                                  [formName]="appParamField.get('value')">
              </ngx-inline-message>
            </div>

            <div class="form-group col-md-9">
              <label class="label w-100">{{ 'app_param.column.description' | translate }}</label>
              <textarea nbInput fullWidth formControlName="description" ngxNullValue></textarea>
            </div>
            <div class="form-group col-md-3">
              <label class="label w-100">{{ 'app_param.column.status' | translate }} <span class="text-danger ml-2">*</span> </label>
              <nb-toggle fullWidth formControlName="status"></nb-toggle>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12 text-center">
              <button nbButton size="small" type="submit" (click)="save()"
                      [disabled]="appParamField.invalid">{{'common.label.save'|translate}}
                <nb-icon icon="save-outline"></nb-icon>
              </button>
              <button nbButton class="ml-2" size="small" (click)="cancel()">{{'common.label.cancel'|translate}}</button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
</div>
