<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">{{ 'index.title'| translate }}</a>
  </div>
</div>

<div class="header-container">
  <nb-actions>
    <nb-action class="control-item">
      <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
        <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
      </nb-select>
    </nb-action>
    <nb-action class="control-item">
      <nb-select [(selected)]="tokenSelected" (selectedChange)="tokenChange($event)" status="primary">
        <nb-option *ngFor="let token of lstToken" [value]="token.token"
                   [disabled]="token.token === tokenSelected"> {{ token.companyName ? token.companyName : 'Không có kết quả' }}</nb-option>
      </nb-select>
    </nb-action>
    <nb-action class="control-item" icon="refresh-outline" (click)="reload()"
               [title]="'index.reload' | translate"></nb-action>
    <nb-action class="control-item" icon="bell-outline"
               badgeStatus="warning" badgeDot [nbPopover]="bellRef"></nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               [nbContextMenuTag]="tag"
               [onlyPicture]="userPictureOnly"
               [name]="user?.fullName">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
<ng-template #bellRef>
  <nb-card class="m-0 border-0" style="min-width: 20em">
    <nb-card-header>{{'index.request_company.title' | translate }}</nb-card-header>
    <nb-card-body class="pt-2 pb-2">
      <div *ngIf="requestAcceptCompany.length === 0">{{'index.request_company.empty_request' | translate }}</div>
      <div *ngIf="requestAcceptCompany.length !== 0">
        <div *ngFor="let request of requestAcceptCompany" class="row justify-content-md-between mb-2">
          <nb-user [name]="request.fullName" [title]="request.userName"></nb-user>
          <div>
            <button nbButton class="border-0 mr-1 bg-transparent" [nbTooltip]="'common.label.confirm' | translate">
              <nb-icon status="success" icon="checkmark-outline"></nb-icon>
            </button>
            <button nbButton class="border-0 bg-transparent" [nbTooltip]="'common.label.cancel' | translate">
              <nb-icon status="danger" icon="close-outline"></nb-icon>
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
